/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons-ac89a46c.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--GlobalNavButton { content: "\E700"; }
@mixin ms-Icon--ChevronDown { content: "\E70D"; }
@mixin ms-Icon--ChevronUp { content: "\E70E"; }
@mixin ms-Icon--Cancel { content: "\E711"; }
@mixin ms-Icon--Settings { content: "\E713"; }
@mixin ms-Icon--ChevronLeft { content: "\E76B"; }
@mixin ms-Icon--ChevronRight { content: "\E76C"; }
@mixin ms-Icon--ChevronUpSmall { content: "\E96D"; }
@mixin ms-Icon--ChevronDownSmall { content: "\E96E"; }
@mixin ms-Icon--ChevronLeftSmall { content: "\E96F"; }
@mixin ms-Icon--ChevronRightSmall { content: "\E970"; }
@mixin ms-Icon--ChevronUpMed { content: "\E971"; }
@mixin ms-Icon--ChevronDownMed { content: "\E972"; }
@mixin ms-Icon--ChevronLeftMed { content: "\E973"; }
@mixin ms-Icon--ChevronRightMed { content: "\E974"; }
@mixin ms-Icon--CircleRing { content: "\EA3A"; }
@mixin ms-Icon--FabricReportLibrary { content: "\F0A1"; }
@mixin ms-Icon--PictureStretch { content: "\F525"; }


// Classes
.ms-Icon--GlobalNavButton:before { @include ms-Icon--GlobalNavButton }
.ms-Icon--ChevronDown:before { @include ms-Icon--ChevronDown }
.ms-Icon--ChevronUp:before { @include ms-Icon--ChevronUp }
.ms-Icon--Cancel:before { @include ms-Icon--Cancel }
.ms-Icon--Settings:before { @include ms-Icon--Settings }
.ms-Icon--ChevronLeft:before { @include ms-Icon--ChevronLeft }
.ms-Icon--ChevronRight:before { @include ms-Icon--ChevronRight }
.ms-Icon--ChevronUpSmall:before { @include ms-Icon--ChevronUpSmall }
.ms-Icon--ChevronDownSmall:before { @include ms-Icon--ChevronDownSmall }
.ms-Icon--ChevronLeftSmall:before { @include ms-Icon--ChevronLeftSmall }
.ms-Icon--ChevronRightSmall:before { @include ms-Icon--ChevronRightSmall }
.ms-Icon--ChevronUpMed:before { @include ms-Icon--ChevronUpMed }
.ms-Icon--ChevronDownMed:before { @include ms-Icon--ChevronDownMed }
.ms-Icon--ChevronLeftMed:before { @include ms-Icon--ChevronLeftMed }
.ms-Icon--ChevronRightMed:before { @include ms-Icon--ChevronRightMed }
.ms-Icon--CircleRing:before { @include ms-Icon--CircleRing }
.ms-Icon--FabricReportLibrary:before { @include ms-Icon--FabricReportLibrary }
.ms-Icon--PictureStretch:before { @include ms-Icon--PictureStretch }

