# Protect `.github` folder except the spell-check rules inside it. (The exception happens by not defining any owner user or group for the path.)
# Protection of the spell-check rules makes no sense as it needs to be changed in nearly every PR.
/.github/ @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot
/.github/actions/spell-check/

# locking down pipeline folder
/.pipelines/ @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot

# locking down nuget config
nuget.config  @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot
packages.config  @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot

# locking down files that should not change
LICENSE @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot
SECURITY.md @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot
CODE_OF_CONDUCT.md @crutkas @DHowett @ethanfangg @cinnamon-msft @yeelam-gordon @jamrobot
