###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.cs text eol=crlf

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.rc diff

*.gcode linguist-detectable=false

*.vsconfig linguist-language=json
