[submodule "deps/expected-lite"]
path = deps/expected-lite
url = https://github.com/martinmoene/expected-lite.git
[submodule "deps/vcpkg"]
path = deps/vcpkg
url = https://github.com/microsoft/vcpkg.git