<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Cpp Rule Set" Description="Based on Microsoft Native Recommended Rules and CPP core guideline rules." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="show" />
    <Rule Id="C26101" Action="show" />
    <Rule Id="C26110" Action="show" />
    <Rule Id="C26111" Action="show" />
    <Rule Id="C26112" Action="show" />
    <Rule Id="C26115" Action="show" />
    <Rule Id="C26116" Action="show" />
    <Rule Id="C26117" Action="show" />
    <Rule Id="C26140" Action="show" />
    <Rule Id="C26400" Action="show" />
    <Rule Id="C26401" Action="show" />
    <Rule Id="C26402" Action="show" />
    <Rule Id="C26403" Action="show" />
    <Rule Id="C26404" Action="show" />
    <Rule Id="C26405" Action="show" />
    <Rule Id="C26406" Action="show" />
    <Rule Id="C26407" Action="show" />
    <Rule Id="C26408" Action="show" />
    <Rule Id="C26409" Action="show" />
    <Rule Id="C26410" Action="show" />
    <Rule Id="C26411" Action="show" />
    <Rule Id="C26414" Action="show" />
    <Rule Id="C26415" Action="show" />
    <Rule Id="C26416" Action="show" />
    <Rule Id="C26417" Action="show" />
    <Rule Id="C26418" Action="show" />
    <Rule Id="C26426" Action="show" />
    <Rule Id="C26427" Action="show" />
    <Rule Id="C26429" Action="show" />
    <Rule Id="C26430" Action="show" />
    <Rule Id="C26431" Action="show" />
    <Rule Id="C26432" Action="show" />
    <Rule Id="C26433" Action="show" />
    <Rule Id="C26434" Action="show" />
    <Rule Id="C26435" Action="show" />
    <Rule Id="C26436" Action="show" />
    <Rule Id="C26437" Action="show" />
    <Rule Id="C26438" Action="show" />
    <Rule Id="C26439" Action="auto" />
    <Rule Id="C26440" Action="show" />
    <Rule Id="C26441" Action="show" />
    <Rule Id="C26443" Action="show" />
    <Rule Id="C26444" Action="show" />
    <Rule Id="C26445" Action="show" />
    <Rule Id="C26446" Action="show" />
    <Rule Id="C26447" Action="show" />
    <Rule Id="C26448" Action="show" />
    <Rule Id="C26449" Action="show" />
    <Rule Id="C26450" Action="show" />
    <Rule Id="C26451" Action="show" />
    <Rule Id="C26452" Action="show" />
    <Rule Id="C26453" Action="show" />
    <Rule Id="C26454" Action="show" />
    <Rule Id="C26455" Action="show" />
    <Rule Id="C26456" Action="show" />
    <Rule Id="C26459" Action="show" />
    <Rule Id="C26460" Action="show" />
    <Rule Id="C26461" Action="show" />
    <Rule Id="C26462" Action="show" />
    <Rule Id="C26463" Action="show" />
    <Rule Id="C26464" Action="show" />
    <Rule Id="C26465" Action="show" />
    <Rule Id="C26466" Action="show" />
    <Rule Id="C26471" Action="show" />
    <Rule Id="C26472" Action="show" />
    <Rule Id="C26473" Action="show" />
    <Rule Id="C26474" Action="show" />
    <Rule Id="C26475" Action="show" />
    <Rule Id="C26476" Action="show" />
    <Rule Id="C26477" Action="show" />
    <Rule Id="C26478" Action="show" />
    <Rule Id="C26479" Action="show" />
    <Rule Id="C26481" Action="show" />
    <Rule Id="C26482" Action="show" />
    <Rule Id="C26483" Action="show" />
    <Rule Id="C26485" Action="show" />
    <Rule Id="C26490" Action="show" />
    <Rule Id="C26491" Action="show" />
    <Rule Id="C26492" Action="show" />
    <Rule Id="C26493" Action="show" />
    <Rule Id="C26494" Action="show" />
    <Rule Id="C26495" Action="show" />
    <Rule Id="C26496" Action="show" />
    <Rule Id="C26497" Action="show" />
    <Rule Id="C26498" Action="show" />
    <Rule Id="C26800" Action="show" />
    <Rule Id="C26810" Action="show" />
    <Rule Id="C26811" Action="show" />
    <Rule Id="C26812" Action="show" />
    <Rule Id="C26813" Action="show" />
    <Rule Id="C26814" Action="show" />
    <Rule Id="C26815" Action="show" />
    <Rule Id="C26816" Action="show" />
    <Rule Id="C26817" Action="show" />
    <Rule Id="C26818" Action="show" />
    <Rule Id="C26819" Action="show" />
    <Rule Id="C26820" Action="show" />
    <Rule Id="C26826" Action="show" />
    <Rule Id="C26827" Action="show" />
    <Rule Id="C26828" Action="show" />
    <Rule Id="C28020" Action="show" />
    <Rule Id="C28021" Action="show" />
    <Rule Id="C28022" Action="show" />
    <Rule Id="C28023" Action="show" />
    <Rule Id="C28024" Action="show" />
    <Rule Id="C28039" Action="show" />
    <Rule Id="C28112" Action="show" />
    <Rule Id="C28113" Action="show" />
    <Rule Id="C28125" Action="show" />
    <Rule Id="C28137" Action="show" />
    <Rule Id="C28138" Action="show" />
    <Rule Id="C28159" Action="show" />
    <Rule Id="C28160" Action="show" />
    <Rule Id="C28163" Action="show" />
    <Rule Id="C28164" Action="show" />
    <Rule Id="C28182" Action="show" />
    <Rule Id="C28183" Action="show" />
    <Rule Id="C28193" Action="show" />
    <Rule Id="C28196" Action="show" />
    <Rule Id="C28202" Action="show" />
    <Rule Id="C28203" Action="show" />
    <Rule Id="C28205" Action="show" />
    <Rule Id="C28206" Action="show" />
    <Rule Id="C28207" Action="show" />
    <Rule Id="C28209" Action="show" />
    <Rule Id="C28210" Action="show" />
    <Rule Id="C28211" Action="show" />
    <Rule Id="C28212" Action="show" />
    <Rule Id="C28213" Action="show" />
    <Rule Id="C28214" Action="show" />
    <Rule Id="C28215" Action="show" />
    <Rule Id="C28216" Action="show" />
    <Rule Id="C28217" Action="show" />
    <Rule Id="C28218" Action="show" />
    <Rule Id="C28219" Action="show" />
    <Rule Id="C28220" Action="show" />
    <Rule Id="C28221" Action="show" />
    <Rule Id="C28222" Action="show" />
    <Rule Id="C28223" Action="show" />
    <Rule Id="C28224" Action="show" />
    <Rule Id="C28225" Action="show" />
    <Rule Id="C28226" Action="show" />
    <Rule Id="C28227" Action="show" />
    <Rule Id="C28228" Action="show" />
    <Rule Id="C28229" Action="show" />
    <Rule Id="C28230" Action="show" />
    <Rule Id="C28231" Action="show" />
    <Rule Id="C28232" Action="show" />
    <Rule Id="C28233" Action="show" />
    <Rule Id="C28234" Action="show" />
    <Rule Id="C28235" Action="show" />
    <Rule Id="C28236" Action="show" />
    <Rule Id="C28237" Action="show" />
    <Rule Id="C28238" Action="show" />
    <Rule Id="C28239" Action="show" />
    <Rule Id="C28240" Action="show" />
    <Rule Id="C28241" Action="show" />
    <Rule Id="C28243" Action="show" />
    <Rule Id="C28244" Action="show" />
    <Rule Id="C28245" Action="show" />
    <Rule Id="C28246" Action="show" />
    <Rule Id="C28250" Action="show" />
    <Rule Id="C28251" Action="show" />
    <Rule Id="C28252" Action="show" />
    <Rule Id="C28253" Action="show" />
    <Rule Id="C28254" Action="show" />
    <Rule Id="C28262" Action="show" />
    <Rule Id="C28263" Action="show" />
    <Rule Id="C28267" Action="show" />
    <Rule Id="C28272" Action="show" />
    <Rule Id="C28273" Action="show" />
    <Rule Id="C28275" Action="show" />
    <Rule Id="C28279" Action="show" />
    <Rule Id="C28280" Action="show" />
    <Rule Id="C28282" Action="show" />
    <Rule Id="C28285" Action="show" />
    <Rule Id="C28286" Action="show" />
    <Rule Id="C28287" Action="show" />
    <Rule Id="C28288" Action="show" />
    <Rule Id="C28289" Action="Hidden" />
    <Rule Id="C28290" Action="Hidden" />
    <Rule Id="C28291" Action="show" />
    <Rule Id="C28300" Action="show" />
    <Rule Id="C28301" Action="show" />
    <Rule Id="C28302" Action="show" />
    <Rule Id="C28303" Action="show" />
    <Rule Id="C28304" Action="show" />
    <Rule Id="C28305" Action="show" />
    <Rule Id="C28306" Action="show" />
    <Rule Id="C28307" Action="show" />
    <Rule Id="C28308" Action="show" />
    <Rule Id="C28309" Action="show" />
    <Rule Id="C28350" Action="show" />
    <Rule Id="C28351" Action="show" />
    <Rule Id="C33001" Action="show" />
    <Rule Id="C33004" Action="show" />
    <Rule Id="C33005" Action="show" />
    <Rule Id="C33010" Action="show" />
    <Rule Id="C33011" Action="show" />
    <Rule Id="C33020" Action="show" />
    <Rule Id="C6001" Action="show" />
    <Rule Id="C6011" Action="show" />
    <Rule Id="C6029" Action="show" />
    <Rule Id="C6031" Action="show" />
    <Rule Id="C6053" Action="show" />
    <Rule Id="C6054" Action="show" />
    <Rule Id="C6059" Action="show" />
    <Rule Id="C6063" Action="show" />
    <Rule Id="C6064" Action="show" />
    <Rule Id="C6066" Action="show" />
    <Rule Id="C6067" Action="show" />
    <Rule Id="C6101" Action="show" />
    <Rule Id="C6200" Action="show" />
    <Rule Id="C6201" Action="show" />
    <Rule Id="C6214" Action="show" />
    <Rule Id="C6215" Action="show" />
    <Rule Id="C6216" Action="show" />
    <Rule Id="C6217" Action="show" />
    <Rule Id="C6220" Action="show" />
    <Rule Id="C6226" Action="show" />
    <Rule Id="C6230" Action="show" />
    <Rule Id="C6235" Action="show" />
    <Rule Id="C6236" Action="show" />
    <Rule Id="C6237" Action="show" />
    <Rule Id="C6242" Action="show" />
    <Rule Id="C6248" Action="show" />
    <Rule Id="C6250" Action="show" />
    <Rule Id="C6255" Action="show" />
    <Rule Id="C6258" Action="show" />
    <Rule Id="C6259" Action="show" />
    <Rule Id="C6260" Action="show" />
    <Rule Id="C6262" Action="show" />
    <Rule Id="C6263" Action="show" />
    <Rule Id="C6268" Action="show" />
    <Rule Id="C6269" Action="show" />
    <Rule Id="C6270" Action="show" />
    <Rule Id="C6271" Action="show" />
    <Rule Id="C6272" Action="show" />
    <Rule Id="C6273" Action="show" />
    <Rule Id="C6274" Action="show" />
    <Rule Id="C6276" Action="show" />
    <Rule Id="C6277" Action="show" />
    <Rule Id="C6278" Action="show" />
    <Rule Id="C6279" Action="show" />
    <Rule Id="C6280" Action="show" />
    <Rule Id="C6281" Action="show" />
    <Rule Id="C6282" Action="show" />
    <Rule Id="C6283" Action="show" />
    <Rule Id="C6284" Action="show" />
    <Rule Id="C6285" Action="show" />
    <Rule Id="C6286" Action="show" />
    <Rule Id="C6287" Action="show" />
    <Rule Id="C6288" Action="show" />
    <Rule Id="C6289" Action="show" />
    <Rule Id="C6290" Action="show" />
    <Rule Id="C6291" Action="show" />
    <Rule Id="C6292" Action="show" />
    <Rule Id="C6293" Action="show" />
    <Rule Id="C6294" Action="show" />
    <Rule Id="C6295" Action="show" />
    <Rule Id="C6296" Action="show" />
    <Rule Id="C6297" Action="show" />
    <Rule Id="C6299" Action="show" />
    <Rule Id="C6302" Action="show" />
    <Rule Id="C6303" Action="show" />
    <Rule Id="C6305" Action="show" />
    <Rule Id="C6306" Action="show" />
    <Rule Id="C6308" Action="show" />
    <Rule Id="C6310" Action="show" />
    <Rule Id="C6312" Action="show" />
    <Rule Id="C6314" Action="show" />
    <Rule Id="C6317" Action="show" />
    <Rule Id="C6318" Action="show" />
    <Rule Id="C6319" Action="show" />
    <Rule Id="C6324" Action="show" />
    <Rule Id="C6328" Action="show" />
    <Rule Id="C6331" Action="show" />
    <Rule Id="C6332" Action="show" />
    <Rule Id="C6333" Action="show" />
    <Rule Id="C6335" Action="show" />
    <Rule Id="C6381" Action="show" />
    <Rule Id="C6383" Action="show" />
    <Rule Id="C6384" Action="show" />
    <Rule Id="C6385" Action="show" />
    <Rule Id="C6386" Action="show" />
    <Rule Id="C6387" Action="show" />
    <Rule Id="C6388" Action="show" />
    <Rule Id="C6500" Action="show" />
    <Rule Id="C6501" Action="show" />
    <Rule Id="C6503" Action="show" />
    <Rule Id="C6504" Action="show" />
    <Rule Id="C6505" Action="show" />
    <Rule Id="C6506" Action="show" />
    <Rule Id="C6508" Action="show" />
    <Rule Id="C6509" Action="show" />
    <Rule Id="C6510" Action="show" />
    <Rule Id="C6511" Action="show" />
    <Rule Id="C6513" Action="show" />
    <Rule Id="C6514" Action="show" />
    <Rule Id="C6515" Action="show" />
    <Rule Id="C6516" Action="show" />
    <Rule Id="C6517" Action="show" />
    <Rule Id="C6518" Action="show" />
    <Rule Id="C6522" Action="show" />
    <Rule Id="C6525" Action="show" />
    <Rule Id="C6527" Action="show" />
    <Rule Id="C6530" Action="show" />
    <Rule Id="C6540" Action="show" />
    <Rule Id="C6551" Action="show" />
    <Rule Id="C6552" Action="show" />
    <Rule Id="C6701" Action="show" />
    <Rule Id="C6702" Action="show" />
    <Rule Id="C6703" Action="show" />
    <Rule Id="C6704" Action="show" />
    <Rule Id="C6705" Action="show" />
    <Rule Id="C6706" Action="show" />
    <Rule Id="C6993" Action="show" />
    <Rule Id="C6995" Action="show" />
    <Rule Id="C6997" Action="show" />
  </Rules>
</RuleSet>
