<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Cpp Rule Set" Description="Based on Microsoft Native Recommended Rules and CPP core guideline rules." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="Hidden" />
    <Rule Id="C26101" Action="Hidden" />
    <Rule Id="C26110" Action="Hidden" />
    <Rule Id="C26111" Action="Hidden" />
    <Rule Id="C26112" Action="Hidden" />
    <Rule Id="C26115" Action="Hidden" />
    <Rule Id="C26116" Action="Hidden" />
    <Rule Id="C26117" Action="Hidden" />
    <Rule Id="C26140" Action="Hidden" />
    <Rule Id="C26400" Action="Hidden" />
    <Rule Id="C26401" Action="Hidden" />
    <Rule Id="C26402" Action="Error" />
    <Rule Id="C26403" Action="Error" />
    <Rule Id="C26404" Action="Error" />
    <Rule Id="C26405" Action="Error" />
    <Rule Id="C26406" Action="Error" />
    <Rule Id="C26407" Action="Error" />
    <Rule Id="C26408" Action="Hidden" />
    <Rule Id="C26409" Action="Hidden" />
    <Rule Id="C26410" Action="Error" />
    <Rule Id="C26411" Action="Error" />
    <Rule Id="C26414" Action="Hidden" />
    <Rule Id="C26415" Action="Hidden" />
    <Rule Id="C26416" Action="Error" />
    <Rule Id="C26417" Action="Hidden" />
    <Rule Id="C26418" Action="Hidden" />
    <Rule Id="C26426" Action="Hidden" />
    <Rule Id="C26427" Action="Error" />
    <Rule Id="C26429" Action="Hidden" />
    <Rule Id="C26430" Action="Hidden" />
    <Rule Id="C26431" Action="Hidden" />
    <Rule Id="C26432" Action="Hidden" />
    <Rule Id="C26433" Action="Hidden" />
    <Rule Id="C26434" Action="Hidden" />
    <Rule Id="C26435" Action="Hidden" />
    <Rule Id="C26436" Action="Hidden" />
    <Rule Id="C26437" Action="Error" />
    <Rule Id="C26438" Action="Hidden" />
    <Rule Id="C26439" Action="Error" />
    <Rule Id="C26440" Action="Hidden" />
    <Rule Id="C26441" Action="Error" />
    <Rule Id="C26443" Action="Error" />
    <Rule Id="C26444" Action="Error" />
    <Rule Id="C26445" Action="Error" />
    <Rule Id="C26446" Action="Hidden" />
    <Rule Id="C26447" Action="Hidden" />
    <Rule Id="C26448" Action="Hidden" />
    <Rule Id="C26449" Action="Error" />
    <Rule Id="C26450" Action="Error" />
    <Rule Id="C26451" Action="Error" />
    <Rule Id="C26452" Action="Error" />
    <Rule Id="C26453" Action="Error" />
    <Rule Id="C26454" Action="Error" />
    <Rule Id="C26455" Action="Hidden" />
    <Rule Id="C26456" Action="Hidden" />
    <Rule Id="C26459" Action="Hidden" />
    <Rule Id="C26460" Action="Hidden" />
    <Rule Id="C26461" Action="Hidden" />
    <Rule Id="C26462" Action="Hidden" />
    <Rule Id="C26463" Action="Error" />
    <Rule Id="C26464" Action="Error" />
    <Rule Id="C26465" Action="Hidden" />
    <Rule Id="C26466" Action="Error" />
    <Rule Id="C26471" Action="Error" />
    <Rule Id="C26472" Action="Hidden" />
    <Rule Id="C26473" Action="Hidden" />
    <Rule Id="C26474" Action="Hidden" />
    <Rule Id="C26475" Action="Error" />
    <Rule Id="C26476" Action="Hidden" />
    <Rule Id="C26477" Action="Hidden" />
    <Rule Id="C26478" Action="Error" />
    <Rule Id="C26479" Action="Error" />
    <Rule Id="C26481" Action="Hidden" />
    <Rule Id="C26482" Action="Hidden" />
    <Rule Id="C26483" Action="Error" />
    <Rule Id="C26485" Action="Hidden" />
    <Rule Id="C26490" Action="Hidden" />
    <Rule Id="C26491" Action="Hidden" />
    <Rule Id="C26492" Action="Error" />
    <Rule Id="C26493" Action="Hidden" />
    <Rule Id="C26494" Action="Hidden" />
    <Rule Id="C26495" Action="Error" />
    <Rule Id="C26496" Action="Hidden" />
    <Rule Id="C26497" Action="Error" />
    <Rule Id="C26498" Action="Error" />
    <Rule Id="C26800" Action="Hidden" />
    <Rule Id="C26810" Action="Error" />
    <Rule Id="C26811" Action="Hidden" />
    <Rule Id="C26812" Action="Hidden" />
    <Rule Id="C26813" Action="Hidden" />
    <Rule Id="C26814" Action="Hidden" />
    <Rule Id="C26815" Action="Hidden" />
    <Rule Id="C26816" Action="Hidden" />
    <Rule Id="C26817" Action="Hidden" />
    <Rule Id="C26818" Action="Hidden" />
    <Rule Id="C26819" Action="Error" />
    <Rule Id="C26820" Action="Error" />
    <Rule Id="C26826" Action="Hidden" />
    <Rule Id="C26827" Action="Error" />
    <Rule Id="C26828" Action="Error" />
    <Rule Id="C28020" Action="Hidden" />
    <Rule Id="C28021" Action="Hidden" />
    <Rule Id="C28022" Action="Hidden" />
    <Rule Id="C28023" Action="Hidden" />
    <Rule Id="C28024" Action="Hidden" />
    <Rule Id="C28039" Action="Hidden" />
    <Rule Id="C28112" Action="Hidden" />
    <Rule Id="C28113" Action="Hidden" />
    <Rule Id="C28125" Action="Hidden" />
    <Rule Id="C28137" Action="Hidden" />
    <Rule Id="C28138" Action="Hidden" />
    <Rule Id="C28159" Action="Hidden" />
    <Rule Id="C28160" Action="Hidden" />
    <Rule Id="C28163" Action="Hidden" />
    <Rule Id="C28164" Action="Hidden" />
    <Rule Id="C28182" Action="Hidden" />
    <Rule Id="C28183" Action="Hidden" />
    <Rule Id="C28193" Action="Hidden" />
    <Rule Id="C28196" Action="Hidden" />
    <Rule Id="C28202" Action="Hidden" />
    <Rule Id="C28203" Action="Hidden" />
    <Rule Id="C28205" Action="Hidden" />
    <Rule Id="C28206" Action="Hidden" />
    <Rule Id="C28207" Action="Hidden" />
    <Rule Id="C28209" Action="Hidden" />
    <Rule Id="C28210" Action="Hidden" />
    <Rule Id="C28211" Action="Hidden" />
    <Rule Id="C28212" Action="Hidden" />
    <Rule Id="C28213" Action="Hidden" />
    <Rule Id="C28214" Action="Hidden" />
    <Rule Id="C28215" Action="Hidden" />
    <Rule Id="C28216" Action="Hidden" />
    <Rule Id="C28217" Action="Hidden" />
    <Rule Id="C28218" Action="Hidden" />
    <Rule Id="C28219" Action="Hidden" />
    <Rule Id="C28220" Action="Hidden" />
    <Rule Id="C28221" Action="Hidden" />
    <Rule Id="C28222" Action="Hidden" />
    <Rule Id="C28223" Action="Hidden" />
    <Rule Id="C28224" Action="Hidden" />
    <Rule Id="C28225" Action="Hidden" />
    <Rule Id="C28226" Action="Hidden" />
    <Rule Id="C28227" Action="Hidden" />
    <Rule Id="C28228" Action="Hidden" />
    <Rule Id="C28229" Action="Hidden" />
    <Rule Id="C28230" Action="Hidden" />
    <Rule Id="C28231" Action="Hidden" />
    <Rule Id="C28232" Action="Hidden" />
    <Rule Id="C28233" Action="Hidden" />
    <Rule Id="C28234" Action="Hidden" />
    <Rule Id="C28235" Action="Hidden" />
    <Rule Id="C28236" Action="Hidden" />
    <Rule Id="C28237" Action="Hidden" />
    <Rule Id="C28238" Action="Hidden" />
    <Rule Id="C28239" Action="Hidden" />
    <Rule Id="C28240" Action="Hidden" />
    <Rule Id="C28241" Action="Hidden" />
    <Rule Id="C28243" Action="Hidden" />
    <Rule Id="C28244" Action="Hidden" />
    <Rule Id="C28245" Action="Hidden" />
    <Rule Id="C28246" Action="Hidden" />
    <Rule Id="C28250" Action="Hidden" />
    <Rule Id="C28251" Action="Hidden" />
    <Rule Id="C28252" Action="Hidden" />
    <Rule Id="C28253" Action="Hidden" />
    <Rule Id="C28254" Action="Hidden" />
    <Rule Id="C28262" Action="Hidden" />
    <Rule Id="C28263" Action="Hidden" />
    <Rule Id="C28267" Action="Hidden" />
    <Rule Id="C28272" Action="Hidden" />
    <Rule Id="C28273" Action="Hidden" />
    <Rule Id="C28275" Action="Hidden" />
    <Rule Id="C28279" Action="Hidden" />
    <Rule Id="C28280" Action="Hidden" />
    <Rule Id="C28282" Action="Hidden" />
    <Rule Id="C28285" Action="Hidden" />
    <Rule Id="C28286" Action="Hidden" />
    <Rule Id="C28287" Action="Hidden" />
    <Rule Id="C28288" Action="Hidden" />
    <Rule Id="C28289" Action="Hidden" />
    <Rule Id="C28290" Action="Hidden" />
    <Rule Id="C28291" Action="Hidden" />
    <Rule Id="C28300" Action="Hidden" />
    <Rule Id="C28301" Action="Hidden" />
    <Rule Id="C28302" Action="Hidden" />
    <Rule Id="C28303" Action="Hidden" />
    <Rule Id="C28304" Action="Hidden" />
    <Rule Id="C28305" Action="Hidden" />
    <Rule Id="C28306" Action="Hidden" />
    <Rule Id="C28307" Action="Hidden" />
    <Rule Id="C28308" Action="Hidden" />
    <Rule Id="C28309" Action="Hidden" />
    <Rule Id="C28350" Action="Hidden" />
    <Rule Id="C28351" Action="Hidden" />
    <Rule Id="C33001" Action="Hidden" />
    <Rule Id="C33004" Action="Hidden" />
    <Rule Id="C33005" Action="Hidden" />
    <Rule Id="C33010" Action="Hidden" />
    <Rule Id="C33011" Action="Hidden" />
    <Rule Id="C33020" Action="Hidden" />
    <Rule Id="C6001" Action="Hidden" />
    <Rule Id="C6011" Action="Hidden" />
    <Rule Id="C6029" Action="Hidden" />
    <Rule Id="C6031" Action="Hidden" />
    <Rule Id="C6053" Action="Hidden" />
    <Rule Id="C6054" Action="Hidden" />
    <Rule Id="C6059" Action="Hidden" />
    <Rule Id="C6063" Action="Hidden" />
    <Rule Id="C6064" Action="Hidden" />
    <Rule Id="C6066" Action="Hidden" />
    <Rule Id="C6067" Action="Hidden" />
    <Rule Id="C6101" Action="Hidden" />
    <Rule Id="C6200" Action="Hidden" />
    <Rule Id="C6201" Action="Hidden" />
    <Rule Id="C6214" Action="Hidden" />
    <Rule Id="C6215" Action="Hidden" />
    <Rule Id="C6216" Action="Hidden" />
    <Rule Id="C6217" Action="Hidden" />
    <Rule Id="C6220" Action="Hidden" />
    <Rule Id="C6226" Action="Hidden" />
    <Rule Id="C6230" Action="Hidden" />
    <Rule Id="C6235" Action="Hidden" />
    <Rule Id="C6236" Action="Hidden" />
    <Rule Id="C6237" Action="Hidden" />
    <Rule Id="C6242" Action="Hidden" />
    <Rule Id="C6248" Action="Hidden" />
    <Rule Id="C6250" Action="Hidden" />
    <Rule Id="C6255" Action="Hidden" />
    <Rule Id="C6258" Action="Hidden" />
    <Rule Id="C6259" Action="Hidden" />
    <Rule Id="C6260" Action="Hidden" />
    <Rule Id="C6262" Action="Hidden" />
    <Rule Id="C6263" Action="Hidden" />
    <Rule Id="C6268" Action="Hidden" />
    <Rule Id="C6269" Action="Hidden" />
    <Rule Id="C6270" Action="Hidden" />
    <Rule Id="C6271" Action="Hidden" />
    <Rule Id="C6272" Action="Hidden" />
    <Rule Id="C6273" Action="Hidden" />
    <Rule Id="C6274" Action="Hidden" />
    <Rule Id="C6276" Action="Hidden" />
    <Rule Id="C6277" Action="Hidden" />
    <Rule Id="C6278" Action="Hidden" />
    <Rule Id="C6279" Action="Hidden" />
    <Rule Id="C6280" Action="Hidden" />
    <Rule Id="C6281" Action="Hidden" />
    <Rule Id="C6282" Action="Hidden" />
    <Rule Id="C6283" Action="Hidden" />
    <Rule Id="C6284" Action="Hidden" />
    <Rule Id="C6285" Action="Hidden" />
    <Rule Id="C6286" Action="Hidden" />
    <Rule Id="C6287" Action="Hidden" />
    <Rule Id="C6288" Action="Hidden" />
    <Rule Id="C6289" Action="Hidden" />
    <Rule Id="C6290" Action="Hidden" />
    <Rule Id="C6291" Action="Hidden" />
    <Rule Id="C6292" Action="Hidden" />
    <Rule Id="C6293" Action="Hidden" />
    <Rule Id="C6294" Action="Hidden" />
    <Rule Id="C6295" Action="Hidden" />
    <Rule Id="C6296" Action="Hidden" />
    <Rule Id="C6297" Action="Hidden" />
    <Rule Id="C6299" Action="Hidden" />
    <Rule Id="C6302" Action="Hidden" />
    <Rule Id="C6303" Action="Hidden" />
    <Rule Id="C6305" Action="Hidden" />
    <Rule Id="C6306" Action="Hidden" />
    <Rule Id="C6308" Action="Hidden" />
    <Rule Id="C6310" Action="Hidden" />
    <Rule Id="C6312" Action="Hidden" />
    <Rule Id="C6314" Action="Hidden" />
    <Rule Id="C6317" Action="Hidden" />
    <Rule Id="C6318" Action="Hidden" />
    <Rule Id="C6319" Action="Hidden" />
    <Rule Id="C6324" Action="Hidden" />
    <Rule Id="C6328" Action="Hidden" />
    <Rule Id="C6331" Action="Hidden" />
    <Rule Id="C6332" Action="Hidden" />
    <Rule Id="C6333" Action="Hidden" />
    <Rule Id="C6335" Action="Hidden" />
    <Rule Id="C6381" Action="Hidden" />
    <Rule Id="C6383" Action="Hidden" />
    <Rule Id="C6384" Action="Hidden" />
    <Rule Id="C6385" Action="Hidden" />
    <Rule Id="C6386" Action="Hidden" />
    <Rule Id="C6387" Action="Hidden" />
    <Rule Id="C6388" Action="Hidden" />
    <Rule Id="C6500" Action="Hidden" />
    <Rule Id="C6501" Action="Hidden" />
    <Rule Id="C6503" Action="Hidden" />
    <Rule Id="C6504" Action="Hidden" />
    <Rule Id="C6505" Action="Hidden" />
    <Rule Id="C6506" Action="Hidden" />
    <Rule Id="C6508" Action="Hidden" />
    <Rule Id="C6509" Action="Hidden" />
    <Rule Id="C6510" Action="Hidden" />
    <Rule Id="C6511" Action="Hidden" />
    <Rule Id="C6513" Action="Hidden" />
    <Rule Id="C6514" Action="Hidden" />
    <Rule Id="C6515" Action="Hidden" />
    <Rule Id="C6516" Action="Hidden" />
    <Rule Id="C6517" Action="Hidden" />
    <Rule Id="C6518" Action="Hidden" />
    <Rule Id="C6522" Action="Hidden" />
    <Rule Id="C6525" Action="Hidden" />
    <Rule Id="C6527" Action="Hidden" />
    <Rule Id="C6530" Action="Hidden" />
    <Rule Id="C6540" Action="Hidden" />
    <Rule Id="C6551" Action="Hidden" />
    <Rule Id="C6552" Action="Hidden" />
    <Rule Id="C6701" Action="Hidden" />
    <Rule Id="C6702" Action="Hidden" />
    <Rule Id="C6703" Action="Hidden" />
    <Rule Id="C6704" Action="Hidden" />
    <Rule Id="C6705" Action="Hidden" />
    <Rule Id="C6706" Action="Hidden" />
    <Rule Id="C6993" Action="Hidden" />
    <Rule Id="C6995" Action="Hidden" />
    <Rule Id="C6997" Action="Hidden" />
  </Rules>
</RuleSet>