<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- a local directory to allow testing nupkg files without pushing to a remote feed -->
    <add key="localpackages" value="localpackages" />
    <!-- <add key="PackLocation" value="PackLocation" /> -->
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
