<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="PowerToysPublicDependencies" value="https://pkgs.dev.azure.com/shine-oss/PowerToys/_packaging/PowerToysPublicDependencies/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
            <package pattern="Microsoft.SemanticKernel*" />
            <package pattern="Microsoft.Extensions.*" />
            <package pattern="System.*" />
            <package pattern="OpenAI" />
            <package pattern="Azure.*" />
        </packageSource>
		<packageSource key="PowerToysPublicDependencies">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>