<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MSBuildCache.AzurePipelines" version="0.1.271-preview" />
  <package id="Microsoft.MSBuildCache.Local" version="0.1.271-preview" />
  <package id="Microsoft.MSBuildCache.SharedCompilation" version="0.1.271-preview" />
</packages>