<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" FileSource="$(var.BinDir)">
      <!-- !Warning! Make sure to change Component Guid if you update the file list -->
      <Component Id="Module_CmdNotFound" Win64="yes" Guid="80F648F2-29F6-4685-AED4-04DC1B6EE176">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Module_CmdNotFound" Value="" KeyPath="yes"/>
        </RegistryKey>
        <File Source="$(var.BinDir)WinGetCommandNotFound.psd1" />
        <!-- The dll files will be picked up by BaseApplications generateAllFileComponents.ps1-->
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CmdNotFoundComponentGroup">
      <ComponentRef Id="Module_CmdNotFound" />
    </ComponentGroup>

  </Fragment>
</Wix>
