<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define FancyZonesFiles=PowerToys.FancyZonesModuleInterface.dll;PowerToys.FancyZonesEditor.dll;PowerToys.FancyZonesEditor.runtimeconfig.json;PowerToys.FancyZonesEditor.deps.json;PowerToys.FancyZonesEditor.exe;PowerToys.FancyZones.exe;ControlzEx.dll;Microsoft.Xaml.Behaviors.dll;ModernWpf.dll;ModernWpf.Controls.dll;PowerToys.ManagedCommon.dll;System.Management.dll;PowerToys.Common.UI.dll;PowerToys.ManagedTelemetry.dll;System.IO.Abstractions.dll;Microsoft.Windows.SDK.NET.dll;WinRT.Runtime.dll;Ijwhost.dll;PowerToys.GPOWrapper.dll;PowerToys.GPOWrapperProjection.dll;System.CodeDom.dll;System.Text.Json.dll;WindowsBase.dll?>

  <Fragment>
    <!-- FancyZone -->
    <DirectoryRef Id="FancyZonesInstallFolder" FileSource="$(var.BinDir)modules\">
      <?foreach File in $(var.FancyZonesFiles)?>
        <Component Id="Module_FancyZones_$(var.File)" Win64="yes">
          <File Id="Module_FancyZones_File_$(var.File)" Source="$(var.BinDir)modules\$(var.FancyZonesProjectName)\$(var.File)" />
        </Component>
      <?endforeach?>
    </DirectoryRef>

    <ComponentGroup Id="FancyZonesComponentGroup" Directory="INSTALLFOLDER">
      <?foreach File in $(var.FancyZonesFiles)?>
        <ComponentRef Id="Module_FancyZones_$(var.File)" />
      <?endforeach?>
    </ComponentGroup>
  </Fragment>
</Wix>
