<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>
  <?define executableActionsComponentFiles=?>
  <?define executableActionsComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\ExecutableActions\?>
  <?define fileContentActionsComponentFiles=?>
  <?define fileContentActionsComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\FileContentActions\?>
  <?define filePropertiesComponentFiles=?>
  <?define filePropertiesComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\FileProperties\?>
  <?define hashesComponentFiles=?>
  <?define hashesComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\Hashes\?>
  <?define imageClipboardActionsComponentFiles=?>
  <?define imageClipboardActionsComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\ImageClipboardActions\?>
  <?define moveCopyActionsComponentFiles=?>
  <?define moveCopyActionsComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\MoveCopyActions\?>
  <?define pathCopyComponentFiles=?>
  <?define pathCopyComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\PathCopy\?>
  <?define powerToysComponentFiles=?>
  <?define powerToysComponentFilesPath=$(var.BinDir)FileActionsMenuPlugins\PowerToys\?>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="FileActionsMenuPluginsFolder" Name="FileActionsMenuPlugins">
        <Directory Id="ExecutableActionsFolder" Name="ExecutableActions" />
        <Directory Id="FileContentActionsFolder" Name="FileContentActions" />
        <Directory Id="FilePropertiesFolder" Name="FileProperties" />
        <Directory Id="HashesFolder" Name="Hashes" />
        <Directory Id="ImageClipboardActionsFolder" Name="ImageClipboardActions" />
        <Directory Id="MoveCopyActionsFolder" Name="MoveCopyActions" />
        <Directory Id="PathCopyFolder" Name="PathCopy" />
        <Directory Id="PowerToysFolder" Name="PowerToys" />
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ExecutableActionsFolder" FileSource="$(var.executableActionsComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--executableActionsComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="FileContentActionsFolder" FileSource="$(var.fileContentActionsComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--fileContentActionsComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="FilePropertiesFolder" FileSource="$(var.filePropertiesComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--filePropertiesComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="HashesFolder" FileSource="$(var.hashesComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--hashesComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="ImageClipboardActionsFolder" FileSource="$(var.imageClipboardActionsComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--imageClipboardActionsComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="MoveCopyActionsFolder" FileSource="$(var.moveCopyActionsComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--moveCopyActionsComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="PathCopyFolder" FileSource="$(var.pathCopyComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--pathCopyComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="PowerToysFolder" FileSource="$(var.powerToysComponentFilesPath)">
      <!-- Generated by generateFileComponents.ps1 -->
      <!--powerToysComponentFiles_Component_Def-->
    </DirectoryRef>

    <ComponentGroup Id="FileActionsMenuPluginsComponentGroup">
      <Component Id="RemoveFileActionsMenuPluginsFolder" Guid="cf291061-a8c7-4570-b40a-6898b3820f02" Directory="FileActionsMenuPluginsFolder" >
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="RemoveFileActionsMenuPluginsFolder" Value="" KeyPath="yes"/>
        </RegistryKey>
        <RemoveFolder Id="RemoveFolderFileActionsMenuPluginsFolder" Directory="FileActionsMenuPluginsFolder" On="uninstall"/>
        <RemoveFolder Id="executableActionsComponentFiles_Component" Directory="ExecutableActionsFolder" On="uninstall"/>
        <RemoveFolder Id="fileContentActionsComponentFiles_Component" Directory="FileContentActionsFolder" On="uninstall"/>
        <RemoveFolder Id="filePropertiesComponentFiles_Component" Directory="FilePropertiesFolder" On="uninstall"/>
        <RemoveFolder Id="hashesComponentFiles_Component" Directory="HashesFolder" On="uninstall"/>
        <RemoveFolder Id="imageClipboardActionsComponentFiles_Component" Directory="ImageClipboardActionsFolder" On="uninstall"/>
        <RemoveFolder Id="moveCopyActionsComponentFiles_Component" Directory="MoveCopyActionsFolder" On="uninstall"/>
        <RemoveFolder Id="pathCopyComponentFiles_Component" Directory="PathCopyFolder" On="uninstall"/>
        <RemoveFolder Id="powerToysComponentFiles_Component" Directory="PowerToysFolder" On="uninstall"/>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
