<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define MouseJumpUIComponentFiles=PowerToys.MouseJumpUI.deps.json;PowerToys.MouseJumpUI.dll;PowerToys.MouseJumpUI.exe;PowerToys.MouseJumpUI.runtimeconfig.json;WinRT.Runtime.dll;PowerToys.ManagedCommon.dll;PowerToys.GPOWrapper.dll;PowerToys.ManagedTelemetry.dll;Ijwhost.dll;System.Management.dll?>

  <Fragment>
    <!-- MouseUtils -->
    <DirectoryRef Id="MouseUtilsInstallFolder" FileSource="$(var.BinDir)modules\$(var.MouseUtilsProjectName)">
      <Component Id="Module_FindMyMouse" Win64="yes">
        <File Source="$(var.BinDir)modules\$(var.MouseUtilsProjectName)\PowerToys.FindMyMouse.dll" KeyPath="yes" />
      </Component>
      <Component Id="Module_MouseHighlighter" Win64="yes">
        <File Source="$(var.BinDir)modules\$(var.MouseUtilsProjectName)\PowerToys.MouseHighlighter.dll" KeyPath="yes" />
      </Component>
      <Component Id="Module_MousePointerCrosshairs" Win64="yes">
        <File Source="$(var.BinDir)modules\$(var.MouseUtilsProjectName)\PowerToys.MousePointerCrosshairs.dll" KeyPath="yes" />
      </Component>
      <Component Id="Module_MouseJump" Win64="yes">
        <File Source="$(var.BinDir)modules\$(var.MouseUtilsProjectName)\PowerToys.MouseJump.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- MouseJump UI -->
    <?foreach File in $(var.MouseJumpUIComponentFiles)?>
      <Component Id="MouseJumpUIComp_$(var.File)" Win64="yes" Directory="MouseJumpUIFolder">
        <File Id="MouseJumpUIFile_$(var.File)" Source="$(var.BinDir)modules\$(var.MouseUtilsProjectName)\MouseJumpUI\$(var.File)" />
      </Component>
    <?endforeach?>

    <ComponentGroup Id="MouseUtilsComponentGroup" Directory="INSTALLFOLDER">
      <ComponentRef Id="Module_FindMyMouse"/>
      <ComponentRef Id="Module_MouseHighlighter"/>
      <ComponentRef Id="Module_MousePointerCrosshairs" />
      <ComponentRef Id="Module_MouseJump" />
      <?foreach File in $(var.MouseJumpUIComponentFiles)?>
        <ComponentRef Id="MouseJumpUIComp_$(var.File)" />
      <?endforeach?>
    </ComponentGroup>

  </Fragment>
</Wix>
