<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define PastePlainFiles=PowerToys.PastePlainModuleInterface.dll?>

  <Fragment>
    <DirectoryRef Id="PastePlainInstallFolder" FileSource="$(var.BinDir)modules\$(var.PastePlainProjectName)">
      <!-- !Warning! Make sure to change Component Guid if you update the file list -->
      <Component Id="Module_PastePlain" Guid="49F5461C-78F2-453C-9A16-24CC78C7D1FC" Win64="yes">
        <?foreach File in $(var.PastePlainFiles)?>
          <File Id="PastePlainFile_$(var.File)" Source="$(var.BinDir)modules\$(var.PastePlainProjectName)\$(var.File)" />
        <?endforeach?>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="PastePlainComponentGroup" Directory="INSTALLFOLDER">
      <ComponentRef Id="Module_PastePlain" />
    </ComponentGroup>

  </Fragment>
</Wix>
