<?xml version="1.0" encoding="UTF-8"?>

<?define UpgradeCode="6341382d-c0a9-4238-9188-be9607e3fab2"?>
<?define RepoDir="$(var.ProjectDir)..\..\" ?>
<?if $(var.Platform) = x64?>
    <?define BinDir="$(var.RepoDir)$(var.Platform)\$(var.Configuration)\" ?>
    <?define PowerToysPlatform="x64"?>

    <?define PlatformProgramFiles="[ProgramFiles64Folder]"?>
<?else?>
    <!-- stable WIX 3 doesn't support ARM64, so we build installers as x86 -->
    <?define BinDir="$(var.RepoDir)ARM64\$(var.Configuration)\" ?>
    <?define PowerToysPlatform="ARM64"?>

    <!--TODO: define to ARM64 Program files once it's available-->
    <?define PlatformProgramFiles="[ProgramFiles6432Folder]"?> 

<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="PowerToys (Preview) $(var.PowerToysPlatform)"
            Version="$(var.Version)"
            Manufacturer="Microsoft Corporation"
            IconSourceFile="$(var.BinDir)svgs\icon.ico"
            UpgradeCode="$(var.UpgradeCode)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication 
              LicenseFile="$(var.RepoDir)\installer\License.rtf"
              LogoFile="$(var.RepoDir)\installer\PowerToysSetup\Images\logo44.png"
              SuppressOptionsUI="no"
              SuppressRepair="yes" />
        </BootstrapperApplicationRef>

        <util:RegistrySearch Variable="HasWebView2PerMachine" Root="HKLM" Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Result="exists" />
        <util:RegistrySearch Variable="HasWebView2PerUser" Root="HKCU" Key="Software\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Result="exists" />

        <Variable Name="InstallFolder" Type="string" Value="$(var.PlatformProgramFiles)PowerToys" bal:Overridable="yes"/>

        <Variable Name="MsiLogFolder" Type="string" Value="[LocalAppDataFolder]\Microsoft\PowerToys\" /> 
        <Log Disable="no" Prefix='powertoys-bootstrapper-msi-$(var.Version)' Extension=".log" />

      <!-- Only install/upgrade if the version is greater or equal than the currently installed version of PowerToys, to handle the case in which PowerToys was installed from old MSI (before WiX bootstrapper was used) -->
      <!-- If the previous installation is a bundle installation, just let WiX run its logic. -->
      <Variable Name="DetectedPowerToysVersion" Type="version" Value="0.0.0.0"/>
      <Variable Name="TargetPowerToysVersion" Type="version" Value="$(var.Version)"/>
      <util:ProductSearch Id="SearchInstalledPowerToysVersion" Variable="DetectedPowerToysVersion" UpgradeCode="42B84BF7-5FBF-473B-9C8B-049DC16F7708" Result="version" />
      <bal:Condition Message="A later version of PowerToys is already installed." >TargetPowerToysVersion &gt;= DetectedPowerToysVersion OR WixBundleInstalled</bal:Condition>

      <Variable Name="DetectedWindowsBuildNumber" Type="version" Value="0"/>
      <util:RegistrySearch Id="SearchWindowsBuildNumber" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Value="CurrentBuildNumber" Result="value" Format="raw" Variable="DetectedWindowsBuildNumber" />
      <bal:Condition Message="This application is only supported on Windows 10 version v2004 (build 19041) or higher.">DetectedWindowsBuildNumber &gt;= 19041 OR WixBundleInstalled</bal:Condition>
    
        <Chain>
            <ExePackage
                DisplayName="Closing PowerToys application"
                Name="terminate_powertoys.cmd"
                Cache="no"
                Compressed="yes"
                Id="TerminatePowerToys"
                SourceFile="terminate_powertoys.cmd"
                Permanent="yes"
                PerMachine="yes"
                Vital="no">
            </ExePackage>
            <ExePackage
                DisplayName="Installing Microsoft Edge WebView2"
                Name="MicrosoftEdgeWebview2Setup.exe"
                Compressed="yes"
                Id="WebView2"
                DetectCondition="HasWebView2PerMachine OR HasWebView2PerUser"
                SourceFile="WebView2\MicrosoftEdgeWebview2Setup.exe"
                InstallCommand="/silent /install"
                RepairCommand="/repair /passive"
                Permanent="yes"
                PerMachine="yes"
                UninstallCommand="/silent /uninstall">
            </ExePackage>
            <MsiPackage
                DisplayName="Installing PowerToys"
                SourceFile="$(var.PowerToysPlatform)\Release\PowerToysSetup-$(var.Version)-$(var.PowerToysPlatform).msi"
                Compressed="yes"
                DisplayInternalUI="no">
                <MsiProperty Name="BOOTSTRAPPERINSTALLFOLDER" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
