<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define SettingsV2AssetsFiles=?>
  <?define SettingsV2AssetsFilesPath=$(var.BinDir)WinUI3Apps\Assets\Settings\?>
  <?define SettingsV2StringsFilesPath=$(var.BinDir)WinUI3Apps\Strings\Settings\?>

  <?define SettingsV2AssetsModulesFiles=?>
  <?define SettingsV2AssetsModulesFilesPath=$(var.BinDir)WinUI3Apps\Assets\Settings\Modules\?>

  <?define SettingsV2OOBEAssetsModulesFiles=?>
  <?define SettingsV2OOBEAssetsModulesFilesPath=$(var.BinDir)WinUI3Apps\Assets\Settings\Modules\OOBE\?>

  <?define SettingsV2OOBEAssetsFluentIconsFiles=?>
  <?define SettingsV2OOBEAssetsFluentIconsFilesPath=$(var.BinDir)WinUI3Apps\Assets\Settings\FluentIcons\?>

  <?ifdef env.IsPipeline?>
    <?define LocLanguageList = cs-CZ;de-DE;en-US;es-ES;fr-FR;hu-HU;it-IT;ja-JP;ko-KR;nl-NL;pl-PL;pt-BR;pt-PT;ru-RU;sv-SE;tr-TR;zh-CN;zh-TW?>
  <?else?>
    <?define LocLanguageList = en-US?>
  <?endif?>

  <Fragment>
    <DirectoryRef Id="WinUI3AppsAssetsFolder">
      <Directory Id="SettingsV2AssetsInstallFolder" Name="Settings">
        <Directory Id="SettingsV2OOBEAssetsFluentIconsInstallFolder" Name="FluentIcons" />
        <Directory Id="SettingsV2AssetsModulesInstallFolder" Name="Modules" >
          <Directory Id="SettingsV2OOBEAssetsModulesInstallFolder" Name="OOBE" />
        </Directory>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="WinUI3AppsStringsFolder">
      <Directory Id="SettingsStringsFolder" Name="Settings" />
    </DirectoryRef>

    <?foreach Language in $(var.LocLanguageList)?>
    <!--NB: Ids can't contain hyphens-->
    <?if $(var.Language) = cs-CZ?>
    <?define IdSafeLanguage = cs_CZ?>
    <?define CompGUID = 715E1991-43CC-4D32-98C8-5BBC9B649FD5?>
    <?elseif $(var.Language) = de-DE?>
    <?define IdSafeLanguage = de_DE?>
    <?define CompGUID = 60EF66F9-7721-4EDB-A0DF-F64F5F2F402A?>
    <?elseif $(var.Language) = en-US?>
    <?define IdSafeLanguage = en_US?>
    <?define CompGUID = 3CEF6FD7-348D-40EC-A75F-6351597CC091?>
    <?elseif $(var.Language) = es-ES?>
    <?define IdSafeLanguage = es_ES?>
    <?define CompGUID = E0A3DD93-18DB-4BAA-A343-E33BFA8FB789?>
    <?elseif $(var.Language) = fr-FR?>
    <?define IdSafeLanguage = fr_FR?>
    <?define CompGUID = A09AC847-F3F1-4C1C-A47D-F60B5218B73D?>
    <?elseif $(var.Language) = hu-HU?>
    <?define IdSafeLanguage = hu_HU?>
    <?define CompGUID = B47DF99E-80FE-4F18-80FD-98085BED74D6?>
    <?elseif $(var.Language) = it-IT?>
    <?define IdSafeLanguage = it_IT?>
    <?define CompGUID = 87DE1759-9749-4205-86D3-EE3F21740E8B?>
    <?elseif $(var.Language) = ja-JP?>
    <?define IdSafeLanguage = ja_JP?>
    <?define CompGUID = DACD7B23-A12C-4469-B35A-F95CD6DD2121?>
    <?elseif $(var.Language) = ko-KR?>
    <?define IdSafeLanguage = ko_KR?>
    <?define CompGUID = 40BBFD14-BF0A-49C6-80A0-8EC564F1CB65?>
    <?elseif $(var.Language) = nl-NL?>
    <?define IdSafeLanguage = nl_NL?>
    <?define CompGUID = 6A6BBAF7-8CFB-458C-A20D-2484B4FB9B5A?>
    <?elseif $(var.Language) = pl-PL?>
    <?define IdSafeLanguage = pl_PL?>
    <?define CompGUID = E03CDC2E-3D8A-4B14-BC70-C66B8C46A2EB?>
    <?elseif $(var.Language) = pt-BR?>
    <?define IdSafeLanguage = pt_BR?>
    <?define CompGUID = FFAA45E5-6933-412A-B0A8-97F59E635419?>
    <?elseif $(var.Language) = pt-PT?>
    <?define IdSafeLanguage = pt_PT?>
    <?define CompGUID = 7ECECEE4-095A-437E-AEDC-95FE77C3065E?>
    <?elseif $(var.Language) = ru-RU?>
    <?define IdSafeLanguage = ru_RU?>
    <?define CompGUID = 30752E37-34DF-4359-B317-AE043015C204?>
    <?elseif $(var.Language) = sv-SE?>
    <?define IdSafeLanguage = sv_SE?>
    <?define CompGUID = 61FF96C4-DADC-4CF2-91FA-60DCAF70DE21?>
    <?elseif $(var.Language) = tr-TR?>
    <?define IdSafeLanguage = tr_TR?>
    <?define CompGUID = 821A28CF-DB00-4CD9-AFCF-B14B00014528?>
    <?elseif $(var.Language) = zh-CN?>
    <?define IdSafeLanguage = zh_CN?>
    <?define CompGUID = 79586358-7BDA-46D4-94A6-99DB8F269630?>
    <?elseif $(var.Language) = zh-TW?>
    <?define IdSafeLanguage = zh_TW?>
    <?define CompGUID = E4686F9A-F347-44B3-9244-BB8A9BE92193?>
    <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
    <?define CompGUID = 19C2DCCC-7A75-47D4-9957-2480D388CA5C?>
    <?endif?>
    <DirectoryRef Id="SettingsStringsFolder">
      <Directory Id="Strings$(var.IdSafeLanguage)Settings" Name="$(var.Language)" />
    </DirectoryRef>
    <DirectoryRef Id="Strings$(var.IdSafeLanguage)Settings" FileSource="$(var.SettingsV2StringsFilesPath)\$(var.Language)">
      <Component Id="Strings$(var.IdSafeLanguage)SettingsComp" Win64="yes" Guid="$(var.CompGUID)">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Strings$(var.IdSafeLanguage)SettingsComp" Value="" KeyPath="yes"/>
        </RegistryKey>
        <File Id="Strings$(var.IdSafeLanguage)SettingsResourceFile" Source="$(var.SettingsV2StringsFilesPath)\$(var.Language)\Resources.resw" />
      </Component>
    </DirectoryRef>
    <?undef IdSafeLanguage?>
    <?undef CompGUID?>
    <?endforeach?>

    <DirectoryRef Id="SettingsV2AssetsInstallFolder" FileSource="$(var.SettingsV2AssetsFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SettingsV2AssetsFiles_Component_Def-->
    </DirectoryRef>

    <DirectoryRef Id="SettingsV2AssetsModulesInstallFolder" FileSource="$(var.SettingsV2AssetsModulesFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SettingsV2AssetsModulesFiles_Component_Def-->
    </DirectoryRef>

    <DirectoryRef Id="SettingsV2OOBEAssetsModulesInstallFolder" FileSource="$(var.SettingsV2OOBEAssetsModulesFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SettingsV2OOBEAssetsModulesFiles_Component_Def-->
    </DirectoryRef>

    <DirectoryRef Id="SettingsV2OOBEAssetsFluentIconsInstallFolder" FileSource="$(var.SettingsV2OOBEAssetsFluentIconsFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SettingsV2OOBEAssetsFluentIconsFiles_Component_Def-->
    </DirectoryRef>

    <ComponentGroup Id="SettingsComponentGroup">

      <?foreach Language in $(var.LocLanguageList)?>
      <!--NB: Ids can't contain hyphens-->
      <?if $(var.Language) = cs-CZ?>
      <?define IdSafeLanguage = cs_CZ?>
      <?elseif $(var.Language) = de-DE?>
      <?define IdSafeLanguage = de_DE?>
      <?elseif $(var.Language) = en-US?>
      <?define IdSafeLanguage = en_US?>
      <?elseif $(var.Language) = es-ES?>
      <?define IdSafeLanguage = es_ES?>
      <?elseif $(var.Language) = fr-FR?>
      <?define IdSafeLanguage = fr_FR?>
      <?elseif $(var.Language) = hu-HU?>
      <?define IdSafeLanguage = hu_HU?>
      <?elseif $(var.Language) = it-IT?>
      <?define IdSafeLanguage = it_IT?>
      <?elseif $(var.Language) = ja-JP?>
      <?define IdSafeLanguage = ja_JP?>
      <?elseif $(var.Language) = ko-KR?>
      <?define IdSafeLanguage = ko_KR?>
      <?elseif $(var.Language) = nl-NL?>
      <?define IdSafeLanguage = nl_NL?>
      <?elseif $(var.Language) = pl-PL?>
      <?define IdSafeLanguage = pl_PL?>
      <?elseif $(var.Language) = pt-BR?>
      <?define IdSafeLanguage = pt_BR?>
      <?elseif $(var.Language) = pt-PT?>
      <?define IdSafeLanguage = pt_PT?>
      <?elseif $(var.Language) = ru-RU?>
      <?define IdSafeLanguage = ru_RU?>
      <?elseif $(var.Language) = sv-SE?>
      <?define IdSafeLanguage = sv_SE?>
      <?elseif $(var.Language) = tr-TR?>
      <?define IdSafeLanguage = tr_TR?>
      <?elseif $(var.Language) = zh-CN?>
      <?define IdSafeLanguage = zh_CN?>
      <?elseif $(var.Language) = zh-TW?>
      <?define IdSafeLanguage = zh_TW?>
      <?else?>
      <?define IdSafeLanguage = $(var.Language)?>
      <?endif?>
        <ComponentRef Id="Strings$(var.IdSafeLanguage)SettingsComp" />
      <?undef IdSafeLanguage?>
      <?endforeach?>

      <Component Id="RemoveSettingsFolder" Guid="2D3AEF68-4E5A-4FF9-A5C0-9E53391AC754" Directory="SettingsV2AssetsInstallFolder" >
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="RemoveSettingsFolder" Value="" KeyPath="yes"/>
        </RegistryKey>
        <RemoveFolder Id="RemoveFolderSettingsV2AssetsInstallFolder" Directory="SettingsV2AssetsInstallFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveFolderSettingsV2OOBEAssetsFluentIconsInstallFolder" Directory="SettingsV2OOBEAssetsFluentIconsInstallFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveFolderSettingsV2AssetsModulesInstallFolder" Directory="SettingsV2AssetsModulesInstallFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveFolderSettingsV2OOBEAssetsModulesInstallFolder" Directory="SettingsV2OOBEAssetsModulesInstallFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveFolderSettingsStringsFolder" Directory="SettingsStringsFolder" On="uninstall"/>
      <?foreach Language in $(var.LocLanguageList)?>
      <!--NB: Ids can't contain hyphens-->
      <?if $(var.Language) = cs-CZ?>
      <?define IdSafeLanguage = cs_CZ?>
      <?elseif $(var.Language) = de-DE?>
      <?define IdSafeLanguage = de_DE?>
      <?elseif $(var.Language) = en-US?>
      <?define IdSafeLanguage = en_US?>
      <?elseif $(var.Language) = es-ES?>
      <?define IdSafeLanguage = es_ES?>
      <?elseif $(var.Language) = fr-FR?>
      <?define IdSafeLanguage = fr_FR?>
      <?elseif $(var.Language) = hu-HU?>
      <?define IdSafeLanguage = hu_HU?>
      <?elseif $(var.Language) = it-IT?>
      <?define IdSafeLanguage = it_IT?>
      <?elseif $(var.Language) = ja-JP?>
      <?define IdSafeLanguage = ja_JP?>
      <?elseif $(var.Language) = ko-KR?>
      <?define IdSafeLanguage = ko_KR?>
      <?elseif $(var.Language) = nl-NL?>
      <?define IdSafeLanguage = nl_NL?>
      <?elseif $(var.Language) = pl-PL?>
      <?define IdSafeLanguage = pl_PL?>
      <?elseif $(var.Language) = pt-BR?>
      <?define IdSafeLanguage = pt_BR?>
      <?elseif $(var.Language) = pt-PT?>
      <?define IdSafeLanguage = pt_PT?>
      <?elseif $(var.Language) = ru-RU?>
      <?define IdSafeLanguage = ru_RU?>
      <?elseif $(var.Language) = sv-SE?>
      <?define IdSafeLanguage = sv_SE?>
      <?elseif $(var.Language) = tr-TR?>
      <?define IdSafeLanguage = tr_TR?>
      <?elseif $(var.Language) = zh-CN?>
      <?define IdSafeLanguage = zh_CN?>
      <?elseif $(var.Language) = zh-TW?>
      <?define IdSafeLanguage = zh_TW?>
      <?else?>
      <?define IdSafeLanguage = $(var.Language)?>
      <?endif?>
          <RemoveFolder Id="RemoveFolderStrings$(var.IdSafeLanguage)Settings" Directory="Strings$(var.IdSafeLanguage)Settings" On="uninstall"/>
      <?undef IdSafeLanguage?>
      <?endforeach?>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
