<?xml version="1.0"?>
<configuration>
  <!--https://msdn.microsoft.com/en-us/library/dd409252(v=vs.110).aspx-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <applicationSettings>
    <Wox.Properties.Settings>
      <setting name="GithubRepo" serializeAs="String">
        <value>https://github.com/Wox-launcher/Wox</value>
      </setting>
    </Wox.Properties.Settings>
  </applicationSettings>
</configuration>