<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.2" targetFramework="net452" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="1.51.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>