<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
<?foreach Language in ar;bg;ca;cs;de;es;eu-ES;fr;he;hu;it;nb-NO;nl;pl;pt-BR;ru;sk;tr;zh-Hans?>
  <!-- NB: Ids can't contain hyphens -->
  <?if $(var.Language) = eu-ES?>
    <?define IdSafeLanguage = eu_ES?>
  <?elseif $(var.Language) = nb-NO?>
    <?define IdSafeLanguage = nb_NO?>
  <?elseif $(var.Language) = pt-BR?>
    <?define IdSafeLanguage = pt_BR?>
  <?elseif $(var.Language) = zh-Hans?>
    <?define IdSafeLanguage = zh_Hans?>
  <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
  <?endif?>
      <Directory Id="$(var.IdSafeLanguage)_Dir" Name="$(var.Language)" />
  <?undef IdSafeLanguage?>
<?endforeach?>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ResourcesComponents">
<?foreach Language in ar;bg;ca;cs;de;es;eu-ES;fr;he;hu;it;nb-NO;nl;pl;pt-BR;ru;sk;tr;zh-Hans?>
  <?if $(var.Language) = eu-ES?>
    <?define IdSafeLanguage = eu_ES?>
  <?elseif $(var.Language) = nb-NO?>
    <?define IdSafeLanguage = nb_NO?>
  <?elseif $(var.Language) = pt-BR?>
    <?define IdSafeLanguage = pt_BR?>
  <?elseif $(var.Language) = zh-Hans?>
    <?define IdSafeLanguage = zh_Hans?>
  <?else?>
    <?define IdSafeLanguage = $(var.Language)?>
  <?endif?>
      <Component Id="$(var.IdSafeLanguage)_Component" Directory="$(var.IdSafeLanguage)_Dir">
        <File Id="$(var.IdSafeLanguage)_File"
              Source="$(var.ImageResizer.TargetDir)$(var.Language)\ImageResizer.resources.dll" />
      </Component>
  <?undef IdSafeLanguage?>
<?endforeach?>
    </ComponentGroup>
  </Fragment>
</Wix>
