/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--GlobalNavButton:before { content: "\E700"; }
.ms-Icon--ChevronDown:before { content: "\E70D"; }
.ms-Icon--ChevronUp:before { content: "\E70E"; }
.ms-Icon--Cancel:before { content: "\E711"; }
.ms-Icon--Settings:before { content: "\E713"; }
.ms-Icon--ChevronLeft:before { content: "\E76B"; }
.ms-Icon--ChevronRight:before { content: "\E76C"; }
.ms-Icon--ChevronUpSmall:before { content: "\E96D"; }
.ms-Icon--ChevronDownSmall:before { content: "\E96E"; }
.ms-Icon--ChevronLeftSmall:before { content: "\E96F"; }
.ms-Icon--ChevronRightSmall:before { content: "\E970"; }
.ms-Icon--ChevronUpMed:before { content: "\E971"; }
.ms-Icon--ChevronDownMed:before { content: "\E972"; }
.ms-Icon--ChevronLeftMed:before { content: "\E973"; }
.ms-Icon--ChevronRightMed:before { content: "\E974"; }
.ms-Icon--CircleRing:before { content: "\EA3A"; }
.ms-Icon--FabricReportLibrary:before { content: "\F0A1"; }
