<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkspacesEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"  />
  </runtime>
  <userSettings>
    <WorkspacesEditor.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
    </WorkspacesEditor.Properties.Settings>
  </userSettings>
</configuration>
