<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
      Name="PowerToys Workspaces Protected Runtime Control-Plane Prototype"
      Manufacturer="Microsoft Corporation"
      Version="1.0.0.0"
      UpgradeCode="{5B4C4E51-C55B-4F91-984A-D4A0D7D4FA31}"
      Scope="perMachine">
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="PowerToysFolder" Name="PowerToys">
        <Directory Id="ControlPlaneInstallFolder" Name="WorkspacesProtectedRuntimeControlPlanePrototype">
          <Component Id="HostComponent" Guid="{A4CF4E08-4C5F-4A23-89E0-20E9F30B6911}" Bitness="always64">
            <File Id="HostExecutable" Source="$(var.PayloadDir)\PtPuvrHost.exe" KeyPath="yes" />
            <ServiceInstall
                Id="HostServiceInstall"
                Name="PtPuvrHost"
                DisplayName="PowerToys Workspaces Protected Runtime Control-Plane Host Prototype"
                Description="Stable LocalSystem host for the protected runtime control-plane prototype."
                Type="ownProcess"
                Start="auto"
                ErrorControl="normal"
                Account="LocalSystem">
              <util:ServiceConfig
                  FirstFailureActionType="restart"
                  SecondFailureActionType="restart"
                  ThirdFailureActionType="restart"
                  ResetPeriodInDays="1"
                  RestartServiceDelayInSeconds="5" />
              <ServiceConfig
                  FailureActionsWhen="failedToStopOrReturnedError"
                  OnInstall="yes"
                  OnReinstall="yes" />
            </ServiceInstall>
            <ServiceControl
                Id="HostServiceControl"
                Name="PtPuvrHost"
                Start="install"
                Stop="both"
                Remove="uninstall"
                Wait="yes" />
          </Component>
          <Directory Id="EnginesFolder" Name="Engines">
            <Directory Id="InitialEngineFolder" Name="5.0.0.0">
              <Component Id="InitialEngineComponent" Guid="{856B77B4-944B-42D7-B6E5-FEFED3029A56}" Bitness="always64">
                <File Id="InitialEngineExecutable" Source="$(var.PayloadDir)\PtPuvrEngine-5.0.0.0.exe" Name="PtPuvrUpdater.exe" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="MicrosoftDataFolder" Name="Microsoft">
        <Directory Id="PowerToysDataFolder" Name="PowerToys">
          <Directory Id="ControlPlaneDataFolder" Name="WorkspacesProtectedRuntimeControlPlanePrototype">
            <Directory Id="PolicyFolder" Name="Policy">
              <Component Id="CodeSignerPolicyComponent" Guid="{68166555-0A82-40F0-8D20-7D6C013F6707}" Bitness="always64">
                <File Id="CodePolicyFile" Source="$(var.PayloadDir)\PtPuvrCodePolicy.exe" KeyPath="yes" />
                <File Id="MetadataPolicyFile" Source="$(var.PayloadDir)\PtPuvrMetadataPolicy.exe" />
              </Component>
            </Directory>
            <Component Id="InitialStateComponent" Guid="{D6B9AF7F-0C8E-4BEA-81A2-E995536268DA}" Bitness="always64">
              <CreateFolder>
                <util:PermissionEx User="SYSTEM" GenericAll="yes" />
                <util:PermissionEx User="Administrators" GenericAll="yes" />
              </CreateFolder>
              <File Id="CodeSignerPinFile" Source="$(var.PayloadDir)\code-signer-sha256.txt" KeyPath="yes" />
              <File Id="MetadataSignerPinFile" Source="$(var.PayloadDir)\metadata-signer-sha256.txt" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="ControlPlaneFeature" Title="Protected runtime control plane" Level="1">
      <ComponentRef Id="HostComponent" />
      <ComponentRef Id="InitialEngineComponent" />
      <ComponentRef Id="CodeSignerPolicyComponent" />
      <ComponentRef Id="InitialStateComponent" />
    </Feature>

    <Binary Id="CommitCleanupBinary" SourceFile="$(var.PayloadDir)\PtPuvrHost.exe" />
    <CustomAction
        Id="CheckControlPlaneRemoval"
        FileRef="HostExecutable"
        ExeCommand="--msi-uninstall-check"
        Execute="deferred"
        Impersonate="no"
        Return="check" />
    <CustomAction
        Id="CommitControlPlaneCleanup"
        BinaryRef="CommitCleanupBinary"
        ExeCommand="--msi-uninstall-cleanup"
        Execute="commit"
        Impersonate="no"
        Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="CheckControlPlaneRemoval" After="StopServices" Condition="$HostComponent=2" />
      <Custom Action="CommitControlPlaneCleanup" Before="InstallFinalize" Condition="$HostComponent=2" />
    </InstallExecuteSequence>
  </Package>
</Wix>
