#include "winres.h"

#include "../../../../common/version/version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILE_VERSION
 PRODUCTVERSION PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft.CommandPalette.Extensions.Toolkit"
            VALUE "FileVersion", FILE_VERSION_STRING
            VALUE "ProductName", "Microsoft.CommandPalette.Extensions.Toolkit"
            VALUE "ProductVersion", PRODUCT_VERSION_STRING
            VALUE "LegalCopyright", "Copyright (c) Microsoft Corporation"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
