<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
  You can use http://www.legitlog.com/ to visualize those logs
   -->
  <!--  log level
  Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
  Debug - debugging information, less detailed than trace, typically not enabled in production environment.
  Info - information messages, which are normally enabled in production environment
  Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
  Error - error messages
  Fatal - very serious errors-->
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/Logs/${shortdate}.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>