<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.2.0" targetFramework="net452" />
  <package id="NLog.Schema" version="4.2.0" targetFramework="net452" />
  <package id="Pinyin4DotNet" version="2016.4.23.4" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>