#include <windows.h>
#include "resource.h"
#include "../../../common/version.h"

STRINGTABLE
BEGIN
    IDS_SETTINGS_DESCRIPTION                            L"This feature requires Windows 10 version 1903 or higher"
    IDS_KEYBOARDMANAGER                                 L"Keyboard Manager" 
    IDS_CREATEWINDOWFAILED_ERRORMESSAGE                 L"Call to CreateWindow failed!"
    IDS_CREATEWINDOWFAILED_ERRORTITLE                   L"Error"
    IDS_REGISTERCLASSFAILED_ERRORMESSAGE                L"Windows registration failed!"
    IDS_REGISTERCLASSFAILED_ERRORTITLE                  L"Error"
    IDS_EDITKEYBOARD_WINDOWNAME                         L"Remap keys"
    IDS_EDITSHORTCUTS_WINDOWNAME                        L"Remap shortcuts"
    IDS_OK_BUTTON                                       L"OK"
    IDS_CANCEL_BUTTON                                   L"Cancel"
    IDS_CONTINUE_BUTTON                                 L"Continue Anyway"
    IDS_EDITKEYBOARD_SOURCEHEADER                       L"Key:"
    IDS_EDITKEYBOARD_TARGETHEADER                       L"Mapped To:"
    IDS_EDITSHORTCUTS_SOURCEHEADER                      L"Shortcut:"
    IDS_EDITSHORTCUTS_TARGETHEADER                      L"Mapped To:"
    IDS_EDITSHORTCUTS_TARGETAPPHEADER                   L"Target App:"
    IDS_EDITKEYBOARD_ORPHANEDDIALOGTITLE                L"The following keys are unassigned and you won't be able to use them:"
    IDS_EDITKEYBOARD_PARTIALCONFIRMATIONDIALOGTITLE     L"Some of the keys could not be remapped. Do you want to continue anyway?"
    IDS_EDITSHORTCUTS_PARTIALCONFIRMATIONDIALOGTITLE    L"Some of the shortcuts could not be remapped. Do you want to continue anyway?"
    IDS_EDITKEYBOARD_INFO                               L"Select the key you want to change (Key) and then the key or shortcut you want it to become (Mapped To)."
    IDS_EDITKEYBOARD_INFOEXAMPLE                        L"For example, if you want to press A and get ""Ctrl+C"", key ""A"" would be your ""Key"" column and the shortcut ""Ctrl+C"" would be your ""Mapped To"" column."
    IDS_EDITSHORTCUTS_INFO                              L"Select the shortcut you want to change (Shortcut) and then the key or shortcut you want it to invoke (Mapped To)."
    IDS_EDITSHORTCUTS_INFOEXAMPLE                       L"For example, if you want to press ""Ctrl+C"" and get ""Alt"" only on Microsoft Edge, ""Ctrl+C"" would be your ""Shortcut"" column, the key ""Alt"" would be your ""Mapped To"" column, and ""MSEdge"" would be your ""Target App"" column. If no target app is entered, it will apply globally. The name must be the process name and not the app name."
    IDS_TYPE_BUTTON                                     L"Type"
    IDS_TYPEKEY_TITLE                                   L"Press a key on selected keyboard:"
    IDS_TYPESHORTCUT_TITLE                              L"Press the keys in shortcut:"
    IDS_TYPEKEY_HEADER                                  L"Key Pressed:"
    IDS_TYPESHORTCUT_HEADER                             L"Keys Pressed:"
    IDS_TYPE_HOLDENTER                                  L"Hold Enter to continue"
    IDS_TYPE_HOLDESC                                    L"Hold Esc to discard"
    IDS_EDITSHORTCUTS_ALLAPPS                           L"All Apps"
    IDS_ERRORMESSAGE_REMAPSUCCESSFUL                    L"Remapping successful"
    IDS_ERRORMESSAGE_REMAPUNSUCCESSFUL                  L"Some remappings were not applied"
    IDS_ERRORMESSAGE_SAMEKEYPREVIOUSLYMAPPED            L"Cannot remap a key more than once"
    IDS_ERRORMESSAGE_MAPPEDTOSAMEKEY                    L"Cannot remap a key to itself"
    IDS_ERRORMESSAGE_CONFLICTINGMODIFIERKEY             L"Cannot remap this key as it conflicts with another remapped key"
    IDS_ERRORMESSAGE_SAMESHORTCUTPREVIOUSLYMAPPED       L"Cannot remap a shortcut more than once for the same target app"
    IDS_ERRORMESSAGE_MAPTOSAMESHORTCUT                  L"Cannot remap a shortcut to itself"
    IDS_ERRORMESSAGE_CONFLICTINGMODIFIERSHORTCUT        L"Cannot remap this shortcut as it conflicts with another remapped shortcut"
    IDS_ERRORMESSAGE_WINL                               L"Cannot remap from/to Win L"
    IDS_ERRORMESSAGE_CTRLALTDEL                         L"Cannot remap from/to Ctrl Alt Del"
    IDS_ERRORMESSAGE_SAVEFAILED                         L"Failed to save the remappings"
    IDS_ERRORMESSAGE_SHORTCUTSTARTWITHMODIFIER          L"Shortcut must start with a modifier key"
    IDS_ERRORMESSAGE_SHORTCUTNOREPEATEDMODIFIER         L"Shortcut cannot contain a repeated modifier"
    IDS_ERRORMESSAGE_SHORTCUTATLEAST2KEYS               L"Shortcut must have atleast 2 keys"
    IDS_ERRORMESSAGE_SHORTCUTONEACTIONKEY               L"Shortcut must contain an action key"
    IDS_ERRORMESSAGE_SHORTCUTMAXONEACTIONKEY            L"Shortcut cannot have more than one action key"
    IDS_ERRORMESSAGE_MAXSHORTCUTSIZE                    L"Shortcuts can only have up to 2 modifier keys"
    IDS_ERRORMESSAGE_DEFAULT                            L"Unexpected error"
END

IDS_KEYBOARDMANAGER_ICON    ICON    L"Keyboard.ico"

1 VERSIONINFO
FILEVERSION FILE_VERSION
PRODUCTVERSION PRODUCT_VERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN 
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English (0x0409), Unicode (0x04B0) charset
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", FILE_VERSION_STRING
            VALUE "InternalName", INTERNAL_NAME
            VALUE "LegalCopyright", COPYRIGHT_NOTE
            VALUE "OriginalFilename", ORIGINAL_FILENAME
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", PRODUCT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // US English (0x0409), Unicode (1200) charset
    END
END
