<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <BaseURL>http://127.0.0.1:8888</BaseURL>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <CleanUp>True</CleanUp>
    <IgnoreDebugSymbols>False</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
        &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>False</CompareVersion>
    <OutputFolder>..\..\Output\Release</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>..\..\Output\Update\Update.xml</FeedXML>
</Settings>
