<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SCOTT-PC>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <CleanUp>True</CleanUp>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>True</CompareVersion>
    <OutputFolder>E:\github\Wox\Output\Debug</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>E:\github\Wox\Output\Update\Update.xml</FeedXML>
  </SCOTT-PC>
  <BaseURL>http://127.0.0.1:8888</BaseURL>
</Settings>
