<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="SDKLocalSource" value=".\deps\Microsoft.CommandPalette.Extensions" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="SDKLocalSource">
			<package pattern="Microsoft.CommandPalette.Extensions" />
		</packageSource>
	</packageSourceMapping>
</configuration>
