<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <clear /> -->
    <!-- Please verify that the feed below exists for your project and replace placeholder values. You may also use another feed of your choice. -->
    <add key="PublicPackages" value="https://pkgs.dev.azure.com/microsoft/Dart/_packaging/Dart_PublicPackages/nuget/v3/index.json" />
    <!-- <add key="Package source" value="https://packagesource" /> -->
  </packageSources>
</configuration>
