<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.5" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.231216.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.4188" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.8.250814004-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Base" version="1.8.250730001-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.8.250803001-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.WinUI" version="1.8.250803000-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Runtime" version="1.8.250814004-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.DWrite" version="1.8.25073101-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.InteractiveExperiences" version="1.8.250801002-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Widgets" version="1.8.250801001-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.AI" version="1.8.20-preview" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools.MSIX" version="1.7.20250806.1" targetFramework="native" />
</packages>