<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.1.3" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.8.2-prerelease.220830001" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.7" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.5" targetFramework="native" />
</packages>