<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}/Microsoft/PowerToys/MouseUtils/MouseJumpUI/Logs/applog_${date:format=yyyy-MM-dd_HH}.txt"
            layout="[${longdate} ${level:uppercase=true} ${logger}] ${message}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>

</nlog>
