#include <windows.h>
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_WORKSPACES_NAME L"Workspaces"
    IDS_WORKSPACES_SETTINGS_DESC "Workspaces description"
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
