<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="buildid" value="ARBITER_01312022" />
  
  <targets async="true">
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}/Microsoft/PowerToys/Awake/Logs/${var:awakeversion}/applog_${date:format=yyyy-MM-dd_HH}_${var:buildid}.txt"
            layout="[${longdate} ${level:uppercase=true} ${logger}] ${message}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"/>
    <target name="logconsole"
            xsi:type="Console"
            layout="[${longdate} ${level:uppercase=true}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
