<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)\Common.wxi?>
  <?define AdvancedPasteBuildDir="$(var.BinDir)\WinUI3Apps\AdvancedPaste\"?>
  <Fragment>
    <DirectoryRef Id="WinUI3AppsInstallFolder">
      <Directory Id="AdvancedPasteInstallFolder" Name="AdvancedPaste">
        <Directory Id="AdvancedPasteDepsInstallFolder" Name="Dependencies">
        <?if $(sys.BUILDARCH) = x64 ?>
          <Directory Id="AdvancedPasteDepsX64InstallFolder" Name="x64" />
        <?else?>
          <Directory Id="AdvancedPasteDepsArm64InstallFolder" Name="arm64" />
        <?endif?>
        </Directory>
      </Directory>
    </DirectoryRef>
    <DirectoryRef Id="AdvancedPasteInstallFolder" FileSource="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test">
      <Component Id="Module_AdvancedPaste" Guid="55AFE81D-F6BD-439A-A229-66AF5C360AB0" Bitness="always64">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Module_AdvancedPaste" Value="" KeyPath="yes" />
        </RegistryKey>
        <RemoveFile Id="RemoveOldAdvancedPasteMsix" Name="PowerToys.AdvancedPaste*.msix" On="install" />
        <?if $(sys.BUILDARCH) = x64 ?>
        <File Id="PowerToys.AdvancedPaste.msix" Source="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\PowerToys.AdvancedPaste.msix" />
        <?else?>
        <File Id="PowerToys.AdvancedPaste.msix" Source="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\PowerToys.AdvancedPaste.msix" />
        <?endif?>
      </Component>
    </DirectoryRef>
    <?if $(sys.BUILDARCH) = x64 ?>
    <DirectoryRef Id="AdvancedPasteDepsX64InstallFolder" FileSource="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\Dependencies\x64">
      <Component Id="Module_AdvancedPaste_Deps" Guid="A7B3C1D2-E4F5-6789-0ABC-DEF012345678" Bitness="always64">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Module_AdvancedPaste_Deps" Value="" KeyPath="yes" />
        </RegistryKey>
        <File Id="AdvancedPaste.Microsoft.VCLibs.x64.14.00.Desktop.appx" Source="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\Dependencies\x64\Microsoft.VCLibs.x64.14.00.Desktop.appx" />
      </Component>
    </DirectoryRef>
    <?else?>
    <DirectoryRef Id="AdvancedPasteDepsArm64InstallFolder" FileSource="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\Dependencies\arm64">
      <Component Id="Module_AdvancedPaste_Deps" Guid="A7B3C1D2-E4F5-6789-0ABC-DEF012345678" Bitness="always64">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Module_AdvancedPaste_Deps" Value="" KeyPath="yes" />
        </RegistryKey>
        <File Id="AdvancedPaste.Microsoft.VCLibs.ARM64.14.00.Desktop.appx" Source="$(var.AdvancedPasteBuildDir)AppPackages\PowerToys.AdvancedPaste_$(var.AdvancedPasteVersion)_Test\Dependencies\arm64\Microsoft.VCLibs.ARM64.14.00.Desktop.appx" />
      </Component>
    </DirectoryRef>
    <?endif?>
    <ComponentGroup Id="AdvancedPasteComponentGroup">
      <Component Id="RemoveAdvancedPasteFolder" Guid="2DF90C09-CC75-4245-A14E-B82904636C54" Directory="INSTALLFOLDER">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="RemoveAdvancedPasteFolder" Value="" KeyPath="yes" />
        </RegistryKey>
        <RemoveFolder Id="RemoveAdvancedPasteInstallDirFolder" Directory="AdvancedPasteInstallFolder" On="uninstall" />
        <RemoveFolder Id="RemoveAdvancedPasteDepsInstallDirFolder" Directory="AdvancedPasteDepsInstallFolder" On="uninstall" />
    <?if $(sys.BUILDARCH) = x64 ?>
        <RemoveFolder Id="RemoveAdvancedPasteDepsX64InstallDirFolder" Directory="AdvancedPasteDepsX64InstallFolder" On="uninstall" />
    <?else?>
        <RemoveFolder Id="RemoveAdvancedPasteDepsArm64InstallDirFolder" Directory="AdvancedPasteDepsArm64InstallFolder" On="uninstall" />
    <?endif?>
      </Component>
      <ComponentRef Id="Module_AdvancedPaste" />
      <ComponentRef Id="Module_AdvancedPaste_Deps" />
    </ComponentGroup>
  </Fragment>
</Wix>
