<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)\Common.wxi?>
  <?define CmdPalExtPowerToysBuildDir="$(var.BinDir)\WinUI3Apps\CmdPalExtensions\Microsoft.CmdPal.Ext.PowerToys\"?>
  <?define CmdPalExtPowerToysVersion="$(var.Version).0"?>
  <Fragment>
    <DirectoryRef Id="WinUI3AppsInstallFolder">
      <Directory Id="CmdPalExtensionsInstallFolder" Name="CmdPalExtensions">
        <Directory Id="CmdPalExtPowerToysInstallFolder" Name="Microsoft.CmdPal.Ext.PowerToys" />
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="CmdPalExtPowerToysInstallFolder" FileSource="$(var.CmdPalExtPowerToysBuildDir)AppPackages\Microsoft.CmdPal.Ext.PowerToys_$(var.CmdPalExtPowerToysVersion)_Test">
      <Component Id="Module_CmdPal_Ext_PowerToys" Guid="1B7E5C7E-7F3B-40D4-BF57-6B9F5E3A6B02" Bitness="always64">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="Module_CmdPal_Ext_PowerToys" Value="" KeyPath="yes" />
        </RegistryKey>
        <?if $(sys.BUILDARCH) = x64 ?>
        <File Id="Microsoft.CmdPal.Ext.PowerToys___var.CmdPalExtPowerToysVersion_._x64.msix" Source="$(var.CmdPalExtPowerToysBuildDir)AppPackages\Microsoft.CmdPal.Ext.PowerToys_$(var.CmdPalExtPowerToysVersion)_Test\Microsoft.CmdPal.Ext.PowerToys_$(var.CmdPalExtPowerToysVersion)_x64.msix" />
        <?else?>
        <File Id="Microsoft.CmdPal.Ext.PowerToys___var.CmdPalExtPowerToysVersion_._arm64.msix" Source="$(var.CmdPalExtPowerToysBuildDir)AppPackages\Microsoft.CmdPal.Ext.PowerToys_$(var.CmdPalExtPowerToysVersion)_Test\Microsoft.CmdPal.Ext.PowerToys_$(var.CmdPalExtPowerToysVersion)_arm64.msix" />
        <?endif?>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CmdPalExtPowerToysComponentGroup">
      <Component Id="RemoveCmdPalExtPowerToysFolder" Guid="E09A8F26-74D8-42FD-88F1-9A3D6B5C7799" Directory="INSTALLFOLDER">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="RemoveCmdPalExtPowerToysFolder" Value="" KeyPath="yes" />
        </RegistryKey>
        <RemoveFile Id="RemoveFilesCmdPalExtensionsInstallDir" Directory="CmdPalExtensionsInstallFolder" Name="*" On="uninstall" />
        <RemoveFile Id="RemoveFilesCmdPalExtPowerToysInstallDir" Directory="CmdPalExtPowerToysInstallFolder" Name="*" On="uninstall" />
        <RemoveFolder Id="RemoveCmdPalExtPowerToysInstallDirFolder" Directory="CmdPalExtPowerToysInstallFolder" On="uninstall" />
      </Component>
      <ComponentRef Id="Module_CmdPal_Ext_PowerToys" />
    </ComponentGroup>
  </Fragment>
</Wix>
