<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define MonacoPreviewHandlerMonacoAssetsFiles=customTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.jsoncustomTokenThemeRules.js;index.html;monacoSpecialLanguages.js;monaco_languages.json?>
  <?define MonacoPreviewHandlerMonacoAssetsFilesPath=$(var.BinDir)Assets\Monaco\?>
  <?define MonacoPreviewHandlerCustomLanguagesFiles=gitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.jsgitignore.js;reg.js;srt.js?>
  <?define MonacoPreviewHandlerCustomLanguagesFilesPath=$(var.BinDir)Assets\Monaco\customLanguages\?>

  <Fragment>
    <DirectoryRef Id="BaseApplicationsAssetsFolder">
      <Directory Id="MonacoAssetsFolder" Name="Monaco">
        <Directory Id="MonacoPreviewHandlerMonacoCustomLanguagesFolder" Name="customLanguages" />
        <Directory Id="MonacoPreviewHandlerMonacoSRCFolder" Name="monacoSRC" />
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="MonacoAssetsFolder" FileSource="$(var.MonacoPreviewHandlerMonacoAssetsFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->

            <Component Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" Win64="yes" Guid="4EBA64ED-6BCC-4A25-A95C-7706C54EF40A">
              <RegistryKey Root="HKLM" Key="Software\Classes\powertoys\components">
                <RegistryValue Type="string" Name="MonacoPreviewHandlerMonacoAssetsFiles_Component" Value="" KeyPath="yes"/>
              </RegistryKey>
              <File Id="MonacoPreviewHandlerMonacoAssetsFiles_File_customTokenThemeRules.js" Source="$(var.MonacoPreviewHandlerMonacoAssetsFilesPath)\customTokenThemeRules.js" />
              <File Id="MonacoPreviewHandlerMonacoAssetsFiles_File_index.html" Source="$(var.MonacoPreviewHandlerMonacoAssetsFilesPath)\index.html" />
              <File Id="MonacoPreviewHandlerMonacoAssetsFiles_File_monacoSpecialLanguages.js" Source="$(var.MonacoPreviewHandlerMonacoAssetsFilesPath)\monacoSpecialLanguages.js" />
              <File Id="MonacoPreviewHandlerMonacoAssetsFiles_File_monaco_languages.json" Source="$(var.MonacoPreviewHandlerMonacoAssetsFilesPath)\monaco_languages.json" />
            </Component>

    </DirectoryRef>

    <DirectoryRef Id="MonacoPreviewHandlerMonacoCustomLanguagesFolder" FileSource="$(var.MonacoPreviewHandlerCustomLanguagesFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->

            <Component Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" Win64="yes" Guid="FC23AF48-2F64-46BA-A7A5-FD2021BEA5D9">
              <RegistryKey Root="HKLM" Key="Software\Classes\powertoys\components">
                <RegistryValue Type="string" Name="MonacoPreviewHandlerCustomLanguagesFiles_Component" Value="" KeyPath="yes"/>
              </RegistryKey>
              <File Id="MonacoPreviewHandlerCustomLanguagesFiles_File_gitignore.js" Source="$(var.MonacoPreviewHandlerCustomLanguagesFilesPath)\gitignore.js" />
              <File Id="MonacoPreviewHandlerCustomLanguagesFiles_File_reg.js" Source="$(var.MonacoPreviewHandlerCustomLanguagesFilesPath)\reg.js" />
              <File Id="MonacoPreviewHandlerCustomLanguagesFiles_File_srt.js" Source="$(var.MonacoPreviewHandlerCustomLanguagesFilesPath)\srt.js" />
            </Component>

    </DirectoryRef>

    <ComponentGroup Id="FileExplorerPreviewComponentGroup">
      <Component Id="RemoveFileExplorerPreviewFolder" Guid="4AB83E58-17F1-41AF-B67F-F6C36EFED28D" Directory="MonacoAssetsFolder">
        <RegistryKey Root="$(var.RegistryScope)" Key="Software\Classes\powertoys\components">
          <RegistryValue Type="string" Name="RemoveFileExplorerPreviewFolder" Value="" KeyPath="yes" />
        </RegistryKey>
        <RemoveFolder Id="RemoveMonacoAssetsFolder" Directory="MonacoAssetsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveFolderMonacoPreviewHandlerCustomLanguagesFolder" Directory="MonacoPreviewHandlerMonacoCustomLanguagesFolder" On="uninstall" />
        <RemoveFolder Id="RemoveFolderMonacoPreviewHandlerMonacoSRCFolder" Directory="MonacoPreviewHandlerMonacoSRCFolder" On="uninstall" />
      </Component>
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerMonacoAssetsFiles_Component" />
            <ComponentRef Id="MonacoPreviewHandlerCustomLanguagesFiles_Component" />
    </ComponentGroup>
  </Fragment>
</Wix>
