<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <!-- Languages for localization on build farm -->
  <!-- qps-ploc;qps-ploca;qps-plocm; -->
  <?define LocLanguageList = ar-SA;cs-CZ;de-DE;es-ES;fa-IR;fr-FR;he-IL;hu-HU;it-IT;ja-JP;ko-KR;nl-NL;pl-PL;pt-BR;pt-PT;ru-RU;sv-SE;tr-TR;uk-UA;zh-CN;zh-TW?>

  <Fragment>
    <!-- Resource directories should be added only if the installer is built on the build farm -->

    <ComponentGroup Id="ResourcesComponentGroup">
      <!-- Resource components should be added only if the installer is built on the build farm -->
    </ComponentGroup>
  </Fragment>
</Wix>
