<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="." />
  </config>
  <packageSources>
    <clear />
    <add key="0" value="https://msazure.pkgs.visualstudio.com/_packaging/PipelineBuildSupplement/nuget/v3/index.json" />
  </packageSources>
</configuration>
