<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net452" />
  <package id="UnidecodeSharp" version="1.0.0.0" targetFramework="net452" />
</packages>