<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="a3e178b8-eac3-48e9-8ae0-1756eb4ff1ec"
    Publisher="CN=Microsoft Corporation"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>MeasureToolUI</DisplayName>
    <PublisherDisplayName>nielslaute</PublisherDisplayName>
    <Logo>Assets\MeasureTool\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17134.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17134.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="MeasureToolUI"
        Description="MeasureToolUI"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MeasureTool\Square150x150Logo.png"
        Square44x44Logo="Assets\MeasureTool\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\MeasureTool\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\MeasureTool\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
