<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.84.0" targetFramework="native" />
  <package id="boost_regex-vc143" version="1.84.0" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.2739.15" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.5" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.231216.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.2428" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.6.250205002" targetFramework="native" />
</packages>