name: Spell checking
on:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '15 * * * *'

jobs:
  build:
    name: Spell checking
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.0.0
      with:
        fetch-depth: 5
    - uses: check-spelling/check-spelling@0.0.16-alpha
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        bucket: .github/actions
        project: spell-check
