<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap mp rescap systemai">

  <Identity
    Name="PowerToys.AdvancedPaste.Dev"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="0.0.1.0" />

  <mp:PhoneIdentity PhoneProductId="d3e34b34-b8e1-4c9a-a4e5-6c8b1a2f0e3d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PowerToys Advanced Paste (Dev)</DisplayName>
    <PublisherDisplayName>A Lone Developer</PublisherDisplayName>
    <Logo>Assets\AdvancedPaste\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="PowerToys Advanced Paste (Dev)"
        Description="PowerToys Advanced Paste (Dev)"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AdvancedPaste\Square150x150Logo.scale-200.png"
        Square44x44Logo="Assets\AdvancedPaste\Square44x44Logo.scale-200.png"
        AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\AdvancedPaste\Wide310x150Logo.scale-200.png"/>
        <uap:SplashScreen Image="Assets\AdvancedPaste\SplashScreen.scale-200.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="x-advancedpaste">
            <uap:DisplayName>PowerToys Advanced Paste (Dev)</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
  </Capabilities>
</Package>
