<?xml version="1.0" encoding="utf-8"?>
<!-- The packages.config acts as the global version for all of the NuGet packages contained within. -->
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.250303.1" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.231216.1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.8.250907003" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Base" version="1.8.250831001" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.8.250906002" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.WinUI" version="1.8.250906003" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Runtime" version="1.8.250907003" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.DWrite" version="1.8.25090401" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.InteractiveExperiences" version="1.8.250906004" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Widgets" version="1.8.250904007" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.AI" version="1.8.37" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools.MSIX" version="1.7.20250829.1" targetFramework="native" />
</packages>