<?xml version="1.0" encoding="utf-8"?>
<!-- The packages.config acts as the global version for all of the NuGet packages contained within. -->
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.5" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.231216.1" targetFramework="native" />
</packages>