<?xml version="1.0"?>
<configuration>
  <runtime>
    <!--http://stackoverflow.com/questions/186854/how-to-prevent-an-exception-in-a-background-thread-from-terminating-an-application-->
    <!--prevent non-ui exception crash wox-->
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
