<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="WoxLogPathConverter" />
          <type value="Wox.Helper.WoxLogPathConverter,Wox" />
        </converter>
        <conversionPattern value="%WoxLogPathConverter{log}\\log.txt" />
      </file>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd-HH:mm:ss"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Date：%date Level：%-5level Msg：%message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF-->
      <level value="WARN" />
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <runtime>
    <!--http://stackoverflow.com/questions/186854/how-to-prevent-an-exception-in-a-background-thread-from-terminating-an-applicati-->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>