<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless" />
  </configSections>
  <runtime>
    <!--http://stackoverflow.com/questions/186854/how-to-prevent-an-exception-in-a-background-thread-from-terminating-an-application-->
    <!--prevent non-ui exception crash wox-->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <exceptionless apiKey="API_KEY_HERE" />
</configuration>