<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net452" />
  <package id="Fody" version="1.29.2" targetFramework="net452" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHotkey" version="1.2.1" targetFramework="net452" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net452" />
  <package id="NLog" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net452" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.51.0" targetFramework="net452" developmentDependency="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
  <package id="squirrel.windows" version="1.5.2" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>