<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net35" />
  <package id="log4net" version="2.0.3" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net35" />
  <package id="NHotkey" version="1.1.0.0" targetFramework="net35" />
  <package id="NHotkey.Wpf" version="1.1.0.0" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net35" />
</packages>